.credentials-block {
  margin: auto;
  max-width: 450px;
}

.search-input {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 250px;
}

.sort-icons {
  display: flex;
  flex-direction: column;
}

.icons-wrapper {
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
}

.icon-active {
  color:#00539C
}
